.catalog {
    padding: 20px 0 80px;

    &__video {
        max-width: 943px;
        height: 355px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        video {
            width: 100%;
            height: 100%;
            object-fi:t cover;
        }
    }

    &__items {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 309px);
        grid-template-rows: auto;
        gap: 100px 80px;
        grid-auto-rows: auto;
    }

    &__item {
    }

    &__item-slider {
    }

    &__item-slide {
    }

    &__pagination {
    }

    &__item-title {
    }

    &__item-cat {
    }

    &__item-name {
    }

    &__item-price {
    }

    &__more {
        max-width: 244px;
        width: 100%;
        padding: 15px 10px;
        background-color: #000;
        font-family: Philosopher;
        font-size: 20px;
        border: none;
        color: #fff;
        margin: 92px auto 0 auto;
        cursor: pointer;
        transition: .2s;
        &:hover {
            background-color: #261055;
        }
    }
}